<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>projectname</param-name>
        <param-value>KIOSK</param-value>
    </context-param>
    <servlet>
        <servlet-name>log_in</servlet-name>
        <servlet-class>com.loyalty.card.superadmin.master.log_in</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.loyalty.card.superadmin.master.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>superadmin_details</servlet-name>
        <servlet-class>com.loyalty.card.superadmin.master.superadmin_details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>create_subscription_plan</servlet-name>
        <servlet-class>com.loyalty.card.superadmin.master.create_subscription_plan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cust_reg</servlet-name>
        <servlet-class>com.loyalty.card.superadmin.master.cust_reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_logout</servlet-name>
        <servlet-class>com.loyalty.card.superadmin.master.admin_logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_login_auth</servlet-name>
        <servlet-class>com.loyalty.card.admin.masters.admin_login_auth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>create_user</servlet-name>
        <servlet-class>com.loyalty.card.admin.masters.create_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mem_reg_api</servlet-name>
        <servlet-class>com.loyalty.card.admin.api.mem_reg_api</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Daily_Purchase_Entry</servlet-name>
        <servlet-class>com.loyalty.card.admin.masters.Daily_Purchase_Entry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmailAuth</servlet-name>
        <servlet-class>com.loyalty.mail.action.SendEmailAuth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allocate_subscription_plan</servlet-name>
        <servlet-class>com.loyalty.card.superadmin.master.allocate_subscription_plan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentAction</servlet-name>
        <servlet-class>com.loyalty.card.admin.api.PaymentAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createItem</servlet-name>
        <servlet-class>com.loyalty.card.admin.masters.createItem</servlet-class>
    </servlet>
    
    <listener>
        <listener-class>com.loyalty.schedule.ScheduleListener</listener-class>
    </listener>
    
    
    <servlet-mapping>
        <servlet-name>log_in</servlet-name>
        <url-pattern>/log_in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>superadmin_details</servlet-name>
        <url-pattern>/superadmin_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>create_subscription_plan</servlet-name>
        <url-pattern>/create_subscription_plan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cust_reg</servlet-name>
        <url-pattern>/cust_reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_logout</servlet-name>
        <url-pattern>/admin_logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_login_auth</servlet-name>
        <url-pattern>/admin_login_auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>create_user</servlet-name>
        <url-pattern>/create_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mem_reg_api</servlet-name>
        <url-pattern>/mem_reg_api</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Daily_Purchase_Entry</servlet-name>
        <url-pattern>/Daily_Purchase_Entry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmailAuth</servlet-name>
        <url-pattern>/SendEmailAuth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allocate_subscription_plan</servlet-name>
        <url-pattern>/allocate_subscription_plan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentAction</servlet-name>
        <url-pattern>/PaymentAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createItem</servlet-name>
        <url-pattern>/createItem</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
